body {margin:0px;
	padding:0px;
		height:100%;}

.drag {
	font-family: "PT Mono", monospace;
	font-size: 16px;
	display:inline-block;
	border:1px solid #BBBBBB;
	border-bottom:1px solid #505050;
	border-right:1px solid #505050;
	margin:2px 0;
	padding:2px;
	background-color:#ffe3ee;
	cursor:default;
}

.imageword {
  position:absolute;
	font-family: "PT Mono", monospace;
	font-size: 16px;
	border:1px solid #BBBBBB;
	border-bottom:1px solid #505050;
	border-right:1px solid #505050;
	padding:2px;
	background-color:#ffe3ee;
}

#wordcontainer {
		height:1500px;
		background-color:F0FFF0;
		background-repeat:repeat;
		background-position:top left;
		background-image:url("images/tile1.png");
		text-align:justify;
		padding:10px;
}

#blinder {
  position:fixed;
  width:100%;
  height:100%;
  background-color:black;
  opacity: .6;
  filter: alpha(opacity=60);
  z-index:10;
  display:none;
}
#dialog {
  position:absolute;
  width:404px;
  height:434px;
  padding:20px;
	background-color:#ffe3ee;
  z-index:20;
  display:none;
  text-align:center;
}

#dialogcontent {

}

#button_closeimage {
  display:inline-block;
  margin:10px;
}

#button_renderimage {
  float:left;
  margin:10px 20px 10px 0;
}

#imagecanvaswrapper {
  width:400px;
  margin:10px;
  float:right;
  height:100%;
}

#imagecanvas {
  background-image:url("images/paper.png");
  width:400px;
  height:400px;
	border:2px solid #971414;
}
#imagetemplate {
  background-image:url("images/paper.png");
  width:400px;
  height:400px;
	border:2px solid #971414;
	position:relative;
}

